@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Reset */
html, body, #root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
}

/* Enable custom sleek scrollbar globally */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9333ea;
}